<form>
    <div class="form-group">
      <label for="comment">Type in an image search query</label>
      <br>
      {{input type="text" value=searchTerm  rows="2" class="form-control"}}
    </div>
    <button type="button" class="btn btn-primary" {{action 'searchClicked' searchTerm }}>Search</button>
</form>
{{outlet}}
